.row{
    margin-left: 20px;
}
.row_poster{
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
    width: 150px;
}
  
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_poster:hover{
    transform: scale(1.5); 
} 
.row_posterlarge{
    max-height: 450px;
}

.row_posterlarge:hover{
    transform: scale(1.6); 
} 